body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(229, 224, 224);
}
h1{
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    font-size: 35px;
}
.buttonBox{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 600px;
    width: 600px;
    border: 4px black solid;
}
.btn{
    height: 60px;
    width: 100px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(145, 2, 145);
    color: white;
}
.box {
    background-color: white;
}






    