
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(229, 224, 224);
}

h1{
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    font-size: 35px;
}
.buttonBox{
    display: flex;
    justify-content: space-between;
    border: 1px blue solid;
    margin-bottom: 10px;

}
.btn{
    height: 60px;
    width: 100px;
    font-size: 15px;
    border-radius: 10%;
    cursor: pointer;
    background-color: purple;
    color: white;
}
.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 600px;
    width: 600px;
    border: 1px black solid;
}
.box {
    background-color: white;
    border: 1px blue solid;

    
  }






    